<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="db_lojaEntities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=db_loja;persist security info=True;user id=sa;password=VQXsSf7Z1NKV.qXGZsX7Z1Be.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_lojaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=db_loja;persist security info=True;user id=sa;password=VQXsSf7Z1NKV.qXGZsX7Z1Be.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_lojaEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=db_loja;persist security info=True;user id=sa;password=VQXsSf7Z1NKV.qXGZsX7Z1Be.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_lojaEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=db_loja;persist security info=True;user id=sa;password=VQXsSf7Z1NKV.qXGZsX7Z1Be.;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
        <wsHttpBinding>
            <binding name="WSHttpBinding_Itb_clienteService" closeTimeout="00:01:50" openTimeout="00:01:05"
      receiveTimeout="00:10:05" sendTimeout="00:10:05" maxBufferPoolSize="2147483647"
      maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                <reliableSession enabled="true" />
            </binding>
        </wsHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://localhost:44423/Service1.svc" binding="wsHttpBinding"
            bindingConfiguration="WSHttpBinding_Itb_clienteService" contract="ServiceReference1.Itb_clienteService"
            name="WSHttpBinding_Itb_clienteService">
            <identity>
                <dns value="localhost" />
            </identity>
        </endpoint>
    </client>
  </system.serviceModel>
</configuration>